<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663427318990-ict9edm20kicfako2vrre1b4omskmt5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663427318990-ict9edm20kicfako2vrre1b4omskmt5o</string>
	<key>API_KEY</key>
	<string>AIzaSyCRVarBjo_Q-L5m_-atEBQSIQjgqNp8gqs</string>
	<key>GCM_SENDER_ID</key>
	<string>663427318990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tugasMetodePenelitian</string>
	<key>PROJECT_ID</key>
	<string>pendaftaran-86eab</string>
	<key>STORAGE_BUCKET</key>
	<string>pendaftaran-86eab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663427318990:ios:65b363eacbc76f3cbebc9f</string>
</dict>
</plist>